@using CodeProject.ViewModel   
@model EmployeeListViewModel

@{
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@section TitleSection { MyView }

@section ContentBody {

    @{
        Html.RenderAction("GetAddNewLink");
    }

    <div>
        <table class="table table-hover">
            <tr>
                <th>Employee Name</th>
                <th>Salary</th>
            </tr>

            @foreach (EmployeeViewModel item in Model.Employees)
            {
                <tr class="@item.SalaryColor">
                    <td>@item.EmployeeName</td>
                    <td>@item.Salary</td>
                </tr>
            }

        </table>

        @*//change footer data before creating element*@
        @{
            //MvcHtmlString result = Html.Partial("Footer", Model.FooterData);
            //string finalResult = result.ToHtmlString().Replace("2016", "20000");
        }
        @*@MvcHtmlString.Create(finalResult)*@
    
    </div>

}