@using CodeProject.ViewModel
@model BaseViewModel

<div class="container">
    <div style="text-align:right; margin:15px;">
        
        Hello, @Model.UserName
        
        <a class="btn btn-default" href="/Authentication/Logout">Logout</a>
    </div>
    <hr />
</div>
